In [2]:
##Python Assignment-Timing(12:15PM to 3:15PM)

In [3]:
###String Built in Method ###Eq comprising 20 operators and operands

In [4]:
name = "Omar Mohammad"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
name = "Omar Mohammad"
print(name.capitalize())     #capitalizes first alphabet letter of string

Omar mohammad

In [23]:
name = "Omar MOHammad"
print(name.casefold())       #lowercase
print(name.center(20))       #20  white-space characters from left to right
print(name.count('m'))       #prints the no of times the specified alphabet is used in the string
print(name.encode())         #commas
print(name.endswith('r'))    #False coz the name doesnt end with r
print(name.endswith('d'))    #True

omar mohammad
   Omar MOHammad
3
b'Omar MOHammad'
False
True

In [34]:
name = "Omar\tMohammad\tWarraich"
print(name.expandtabs())     #gives default space i.e. 8 btw the string charachters
print(name.expandtabs(20))   #gives specified space btw the string charachters

Omar    Mohammad        Warraich
Omar                Mohammad            Warraich

In [8]:
name = "Omar Mohammad"
print(name.find('d'))       #specifies index no of charachter d
print(name.find('h'))       #specifies index no of charachter h
print(name.find('O'))       #specifies index no of charachter O
print(name.find('M'))       #specifies index no of charachter M
print(name.find('o'))       #specifies index no of charachter o
print(name.find('m'))       #specifies index no of charachter m occurring in the first instance

12
7
0
5
6
1

In [16]:
name           =   "Omar Mohammad Warraich"
father_name    =   "Zia Mohammad Warraich"
program        =   "PIAIC"

card= """
name = {}
father_name = {}
program = {}
"""
print(card.format(name, father_name, program))     # format prints the specified string sequence of the card
#specified print sequence changed
card= """                       
father_name = {}
name = {}
program = {}
"""
print(card.format(father_name, name, program))      # specified print sequence changed

name = Omar Mohammad Warraich
father_name = Zia Mohammad Warraich
program = PIAIC


father_name = Zia Mohammad Warraich
name = Omar Mohammad Warraich
program = PIAIC

In [15]:
name           =   "Omar Mohammad Warraich"
father_name    =   "Zia Mohammad Warraich"
program        =   "PIAIC"
#specified print sequence changed
card= """                       
father_name = {}
name = {}
program = {}
"""
print(card.format(father_name, name, program))      # specified print sequence changed

father_name = Zia Mohammad Warraich
name = Omar Mohammad Warraich
program = PIAIC

In [27]:
name = {"first_name": "Omar", "last_name": "Warraich"}
print("{first_name} {last_name}".format_map(name))       # mapping string values together
Brand = {"Manufacturer": "Toyota", "Make": "Corolla"}
print("{Manufacturer} {Make}".format_map(Brand))

Omar Warraich
Toyota Corolla

In [26]:
name = "Omar Warraich"
print(name.index("c"))                                 # index no of c in string

11

In [39]:
name = "Omar Warraich"
print(name.isalnum())                                  # False coz string isnt alphanumeric
name = "OmarWarraich12"
print(name.isalnum())                                  # alphanumeric i.e. string contains alphabets and numbers

False
True

In [42]:
name = "Omar Mohammad"
print(name.isalpha())                                  # False coz string has white space
name = "OmarMohammadWarraich"
print(name.isalpha())                                  # True coz string doesnt have white space

False
True

In [64]:
name = "_Omar Mohammad" 
print(name.isascii())                                  # True coz string has ascii values
name = "Omar11Mohammad"
print(name.isascii())
name = "Omar"
print(name.isascii())
name = "Omar~~>> Mohammad"
print(name.isascii())

True
True
True
True

In [63]:
name = "9876"
print(name.isdecimal())                              # True coz string has decimal values
print(name.isdigit())                                #  =====
name = "Omar987"
print(name.isdecimal())                              # False coz string carries alphabets 
print(name.isdigit())                                #  =====

True
True
False
False

In [61]:
name="Omar Warraich"
print(name.isidentifier())                           # False when string has spaces
name="_Omar_Warraich"
print(name.isidentifier())
name="_Omar Warraich"
print(name.isidentifier())
name="OmarWarraich"
print(name.isidentifier())

False
True
False
True

In [67]:
name="Omar Warraich"
print(name.islower())                               # if string carries all lowercase letters true otherwise false
name="omarwarraich"
print(name.islower())

False
True

In [69]:
name="98765"
print(name.isnumeric())                            # True if all string elements are numbers else False
name="Omar"
print(name.isnumeric())

True
False

In [73]:
name="Omar Warraich"                     
print(name.isprintable())                          # True if string is empty or name carries printable charachters else false
print(name.isspace())                              # True only when string has all white spaces else False
name = " " 
print(name.isprintable())
print(name.isspace())

True
False
True
True

In [76]:
name="Omar Warraich"
print(name.istitle())                              # True if all string words start with uppercase letters else False
name="OMar WArraich"                               # False when any letter other than the starting letter also capital
print(name.istitle())
name="Omar warraich"
print(name.istitle())

True
False
False

In [78]:
name="Omar Warraich"
print(name.isupper())                             #True only when all string else letters are capital else false
name="OMAR WARRAICH"
print(name.isupper())

False
True

In [100]:
first_name="Omar"
last_name="Warraich"
print(last_name.join(first_name))                #each letter of first name is concatenate to the front of last_name. last letter of firstname at the end of last name
num_list = ['2', '3', '4']
add = "222"
print(add.join(num_list))
numlist = ['1', '2', '3', '4']
separator = '0    '
print(separator.join(numlist))

OWarraichmWarraichaWarraichr
222232224
10    20    30    4

In [139]:
name="    Omar"
print(name.ljust(0))
name1=name.ljust(10)                             # 10 white space charachters from left in the string
print(name1, ("Warraich"))

    Omar
    Omar   Warraich

In [94]:
name="Omar Warraich"
print(name.lower())                              # prints lowercase letters of all string elements

omar warraich

In [96]:
name = "      Omar Warraich"
print(name)
print(name.lstrip())                             # strips all the white space from the left side of the string

      Omar Warraich
Omar Warraich

In [109]:
# maketrans creates a one to one mapping of a charachter to its translation/replacement creating a unicode representation of 
# each charachter
name1 = "a,b,c,d,e"
name2 = "1,2,3,4,5"
t=" ".maketrans(name1,name2)             # maps each charachter of name 1 with name2 using unicode representation.
print(t)
print(chr(97))                           # 97 = a
print(chr(49))                           # 49 = 1
print(chr(44))
print(chr(98))                           # 98 = b
print(chr(50))                           # 50 = 2
print(chr(99))                           # 99 = c, 51 =3, 100 = d, 52 = 4, 101 = e, 53 = 5
print(chr(53))

{97: 49, 44: 44, 98: 50, 99: 51, 100: 52, 101: 53}
a
1
,
b
2
c
5

In [115]:
name="OmarMohammadWarraich"
print(name.partition("Omar"))           # Omar is the separator
print(name.partition("Mohammad"))       # Mohammad is the separator
print(name.partition("Warraich"))

('', 'Omar', 'MohammadWarraich')
('Omar', 'Mohammad', 'Warraich')
('OmarMohammad', 'Warraich', '')

In [118]:
name="Omar Warraich"
print(name.replace("Warraich","Mohammad"))  # Warraich is replaced by Mohammad

Omar Mohammad

In [124]:
name="Omar Warraich"
print(name.rfind("d"))
print(name.find("c"))                   # it prints the index no of the specified alphabet, returns -1 if it isnt there
print(name.rindex("c"))                 # it prints the index no of the specified alphabet otherwise gives Value error
print(name.rindex("d"))

-1
11
11

ValueError: substring not found

In [135]:
name = "Omar Warraich"
print(name.rjust(15,"*"))                      # justifies the string to the right side if the justification no is 
print(name.rjust(20,"&"))                      # greater than the total index no of string
print(name.rjust(20, " "))                     # can be justified by empty white spaces or any specified string
print(name.rjust(20))                          # The fill charachter must be exactly one character long or none
print(name.rjust(11))

**Omar Warraich
&&&&&&&Omar Warraich
       Omar Warraich
       Omar Warraich
Omar Warraich

In [142]:
name="OmarMohammadWarraich"
print(name.rpartition("Omar"))
print(name.rpartition("Mohammad"))              # partition with separator "Mohammad" and return tuple
print(name.rpartition("Warraich"))

('', 'Omar', 'MohammadWarraich')
('Omar', 'Mohammad', 'Warraich')
('OmarMohammad', 'Warraich', '')

In [150]:
name= "Omar Mohamamd Warraich                  " 
print(name)                                     # strips the white spaces from the right side of the string
print(name.rstrip())

Omar Mohamamd Warraich
Omar Mohamamd Warraich

In [149]:
name = "Omar Mohammad Warraich"
print(name.split())                            # converts the string into a list
print(name.splitlines())                       # converts the string into a single list
print(name.startswith("O"))                    # returns True if name starts with specified letter else false
print(name.startswith("M"))

['Omar', 'Mohammad', 'Warraich']
['Omar Mohammad Warraich']
True
False

In [152]:
name="                Omar           Mohammad Warraich           "
print(name)
print(name.strip())                           # removes the empty spaces from both the right and left side but not in btw

                Omar           Mohammad Warraich
Omar           Mohammad Warraich

In [154]:
name="Omar Mohammad Warraich"
print(name.swapcase())                        # swaps the upper case into lower case and vice versa
name = "oMar mOhammad wARRaich"
print(name.swapcase())

oMAR mOHAMMAD wARRAICH
OmAR MoHAMMAD WarrAICH

In [155]:
name = "oMAR waRaich"
print(name.title())                           # capitalizes the first letter of every word with remaining letters lowercase

Omar Waraich

In [158]:
name = "lets play cricket"
name1= "a,b,c,d,e"
name2= "1,2,3,4,5"
t=name.maketrans(name1,name2)
print(t)
t=name.translate(t)
print(t)
chr(44)

{97: 49, 44: 44, 98: 50, 99: 51, 100: 52, 101: 53}
l5ts pl1y 3ri3k5t

','

In [159]:
name="omar MoHammad"
print(name.upper())                           # converts the whole string into uppercase

OMAR MOHAMMAD

In [163]:
name="Omar Mohammad"
print(name.zfill(20))
print(name.zfill(15))                         # add zeroes to the left of the string if the specified no is greater than the 
print(name.zfill(13))                        #  max index value of the string to equalize the index value and specified no
print(name.zfill(10))                        #  otherwise string is return unchanged

0000000Omar Mohammad
00Omar Mohammad
Omar Mohammad
Omar Mohammad

In [164]:
20 + 40 - 85 / 17 + 85 - 123 + 45 * 123 - 22 + 45 * 175 / 35 + 22 / 11 - 12 + 12 + 15 + 19 - 99 + 75 * 12 * 10 - 7

14685.0

In [165]:
12434 + 57033 - 59692 + 69782 * 24876 / 2597 + 5972 - 5965 + 59673 * 50285 / 482 + 5038 - 54937 * 4927 + 5068 - 24942

-263785799.98094913